client/project.config.json
client/Assets/ThirdParty/PlayMaker/link.xml
client/Assets/ThirdParty/PlayMaker/link.xml.meta
client/ServerData
client/Tools/Fonts/build
client/Tools/Fonts/node_modules
client/Assets/AssetGraph/AssetBundles/Cache
client/Assets/AssetGraph/AssetBundles/Cache.meta
.DS_Store
shared/Shared/.idea
shared/Shared/*/obj
client/Assets/WX-WASM-SDK-V2
client/Assets/Plugins/ByteGame
client/Assets/Plugins/ByteGame.meta
client/Assets/WX-WASM-SDK-V2.meta
client/BuildBackUp
client/TeamCityBackUp
shared/.idea
shared/bin
shared/obj
shared/bin.meta
shared/obj.meta
client/Assets/FR2_Cache.asset
client/Assets/FR2_Cache.asset.meta